<h1>Log In</h1>

<% if flash.alert %>
  <div style="color: red;">
    <%= flash.alert %>
  </div>
<% end %>

<%= form_with url: login_path, method: :post do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit "Log In" %>
  </div>
<% end %>

<%= link_to "Don't have an account? Register here.", new_student_path %>
<br>
<%= link_to "Continue as a guest.", professors_path %>
