<div class="login-container">
  <%= image_tag "rmp.jpg", alt: "RMP Logo", class: "login-logo" %>
  <h1>Register</h1>

  <% if flash.alert %>
    <div class="alert">
      <%= flash.alert %>
    </div>
  <% end %>

  <%= form_with model: @student, local: true, class: "login-form" do |form| %>
    <div class="form-group">
      <%= form.label :username, "Username" %>
      <%= form.text_field :username, required: true, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, required: true, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.submit "Register", class: "login-button" %>
    </div>
  <% end %>

  <div class="links">
    <%= link_to "Already have an account? Log in here.", login_path, class: "link" %>
  </div>
</div>

<%= stylesheet_link_tag "sessions", media: "all" %>