<div style="text-align: center; margin-top: 50px;">
  <h1>Professor: <%= @professor.name %></h1>

  <p><strong>Department:</strong> <%= @professor.department %></p>
  <p><strong>University:</strong> <%= @professor.university %></p>

  <h2>Reviews</h2>
  <% if @professor.reviews.any? %>
    <ul>
      <% @professor.reviews.each do |review| %>
        <li>
          <strong>"anonymous user"</strong> <%= review.content %>
          <br><strong>Rating:</strong> <%= review.rating %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No reviews yet.</p>
  <% end %>

  <%= link_to 'Create a new review', new_professor_review_path(@professor) %>
  <br>
  <%= link_to 'Back to Professors List', professors_path %>

</div>
