<div id="course-new-page" class="course-form-container">
  <%= form_with(model: @course, local: true, class: "course-form") do |form| %>
    <div class="form-group">
      <%= form.label :name, "Course Name", class: "form-label" %>
      <%= form.text_field :name, required: true, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :code, "Course Code", class: "form-label" %>
      <%= form.text_field :code, required: true, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "Course Description", class: "form-label" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.submit "Create Course", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
