<div style="text-align: center; margin-top: 50px;">
  <h1>New Review for <%= @professor.name %></h1>

  <%= form_with model: [@professor, @review], local: true do |form| %>
    <div>
      <%= form.label :content, 'Review Content' %>
      <%= form.text_area :content, required: true, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :rating, 'Rating (1-5)' %>
      <%= form.number_field :rating, in: 1..5, required: true, class: 'form-control' %>
    </div>

    <div>
      <%= form.submit 'Submit Review', class: 'btn btn-primary', style: 'margin-top: 10px;' %>
    </div>
  <% end %>
</div>
